:root {
  --primary: #fff;
  --personalised:#8DB1CC !important;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--personalised) !important;
  border-radius: 12,06px !important;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.2) !important;
  color: #FFF !important;
  border: 1px solid var(--primary) !important;
}

.btn--outline {
  background-color: transparent !important;
  color: #fff !important;
  padding: 8px 20px !important;
  border: 1px solid var(--primary)!important;
  transition: all 0.3s ease-out!important;
}

.btn--medium {
  padding: 8px 20px !important; 
  font-size: 18px !important;
}

.btn--large {
  padding: 12px 26px !important;
  font-size: 20px !important;
}
.btnFacebook { 
  width: 100%;
  height:40px;  
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;  
  text-align: center;
  margin:5px;
  display: inline-block;
}
.btnGoogle { 
  margin:5px;
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: #db3236;
  color:white;
  border:0px transparent;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}



.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out !important;
  background: #fff !important;
  color: #242424 !important;
  transition: 250ms !important;
}
