

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact3 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    padding: 80px;
  }
  .margin__contact__us{
      margin: 50px 0px 0px 70px;
  }
  .margin__contact__us img{
      margin: 20px;
  }
  .contact3 h1,
  .contact3 h2,
  .contact3 h3,
  .contact3 h4,
  .contact3 h5,
  .contact3 h6 {
    color: #3e4555;
  }
  
  .contact3 .font-weight-medium {
    font-weight: 500;
  }
  
  .contact3 .card-shadow {
      background-image: url("/images/6100996.jpg");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
      height: 400px;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  
  .contact3 .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }
  
  .contact3 .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
  }

  @media (max-width:650px){
    .contact3 .card-shadow {
      background-image: url("/images/6100996.jpg");
      width: 300px;
      margin-left: -35px;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
      height: 400px;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    /* justify-content: left; */
    margin-left: -130px;
    width: 420px;
  }
  }