.navHeadAndBar{
  position: fixed;
  width: 100%;
  z-index: 10000; 
  overflow-x: hidden; 
  top: 0px;
  text-decoration: none;
}

.navbar {
  background: linear-gradient(90deg, rgb(2,0,36) 0%, rgb(140,177,192) 0%, rgb(140,177,192) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  z-index: 9999;
  width: 99%;
  top:50px
  
}

.navbars{
  background: linear-gradient(90deg, rgb(2,0,36) 0%, rgb(140,177,192) 0%, rgb(140,177,192) 100%);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  position: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  
}

.navbar-logo {
  color: #fff;
  margin-top: -40px;
  justify-self: start;
  margin-right: 290px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
    position: absolute;
    width: 50%;
    transform: translate(0%, 80%);
    margin-right: 44%;
 
}
.navbar-logo:hover{
  color: #fff;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  text-decoration: none;
  text-align: left;
  width: 90vw;
  
  justify-content: end;
  
}
.nav-menu :hover{
  color: #fff;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 70%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
.is-active{
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;  
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.nav-menu  .disp{
  display: none;
}
.nav-menu .hide-icon{
  display: initial;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  
  .nav-menu {
    display: initial;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
    position: absolute;
    top: 70px;
    left: -100%;
    
    z-index: 333333333;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,177,192,1) 0%, rgba(196,215,229,1) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 333333333;
  }
  .nav-menu .disp{
    display: initial;
  }
  .nav-menu .hide-icon{
    display: none;
  }
  .nav-links {
    text-align: center;
    padding: 0.5rem;
    margin-top: 50px;
    width: 100%;
    display: table;
    z-index: 333333333;
  }

  .nav-links:hover {
    
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    width: 100%;
    transform: translate(20%, 80%);
    margin-right: 25%;
    
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 90%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 333333333;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}