.Quiz_Name{
    color: black;
}
.Quiz_form{
    height: 100%;
    padding-bottom: 30px;
}
.section{
    margin: auto;
    width: 50%;
}
.Quiz_form_top{
    background-color: white;
    border-top: 15px solid rgba(140,177,192,1) ;
    border-left: 15px solid rgba(140,177,192,1) ;
    /*border-bottom :18px solid rgba(140,177,192,1) ;
    border-right: 18px solid rgba(140,177,192,1) ;*/
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}
.Quiz_form_top_Name {
    box-sizing: border-box;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    border-color: rgba(140,177,192,1);
    outline-color: rgba(140,177,192,1);
    border-radius: 8px;
    border-top: 2px solid rgba(140,177,192,1) ;
    border-left: 2px solid rgba(140,177,192,1) ;
    border-right: 2px solid rgba(140,177,192,1) ;
    border-bottom: 2px solid rgba(140,177,192,1) ;
    height: 45px;


}
.Quiz_form_top_desc {
    box-sizing: border-box;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border-color: rgba(140,177,192,1);
    outline-color: rgba(140,177,192,1);
    border-radius: 8px;
    border-top: 2px solid rgba(140,177,192,1) ;
    border-left: 2px solid rgba(140,177,192,1) ;
    border-right: 2px solid rgba(140,177,192,1) ;
    border-bottom: 2px solid rgba(140,177,192,1) ;
    color: black;
}
.Quiz_form_top_class {
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: black;
    height: 20px;
}
.question_boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.add_question {
    background-color: white;
    border-radius: 8px;
    padding: 25px 22px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 93%;
    margin-left: 10px;
}
.add_question_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.question{
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Google Sans', Roboto, Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    flex: 1;
    line-height: 40px;
    width: 40%;
    border: none;
    outline: none;
    color: black;
    height: 40px;
    margin-right: 10px;
    line-height: 10px;
    padding: 10px;
    text-align: center;
}

.question:focus {
    border-bottom: 1px solid rgba(140,177,192,1);
    background-color: #F4FAF9;
}
.select {
    height: 40px;
    width: 230px;
    border: 0.5px solid;
    padding: 5px 15px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5px solid #FAFAF9;
    border-radius: 3px;
    background: transparent;
}

.menuitem{
    color: rgb(118,118,118,0.3);
}

.add_question_body{
    display:flex;
    align-items: center;


}
.text_input {
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
   /* width: 490px;*/
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    color:  #202124;
}

.text_input:focus {
    border-bottom: 1.5px solid rgba(140,177,192,1);
    background-color: #F4FAF9;
}

.add_question_bottom{
    margin-top:12px;
    border-top:1px solid #979bff;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}

.add_border{
    border-left: 8px solid #65A2D1 ;
    border-right: 8px solid #65A2D1 ;
}


.ca {
    color: red;
}
.SaveQuiz{
    display: flex;
    justify-content: center;
}
.add_question_icon{

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.new_question_span{
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.add_question_icon:hover .new_question_span{
    visibility: visible;
}
.Copy_question_icon{

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.Copy_question_span{
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.Copy_question_icon:hover .Copy_question_span{
    visibility: visible;
}
.delete_question_icon{

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.delete_question_span{
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.delete_question_icon:hover .delete_question_span{
    visibility: visible;
}
.delete_option_icon{

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.delete_option_span{
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.delete_option_icon:hover .delete_option_span{
    visibility: visible;
}

.text_input_score {
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    /* width: 490px;*/
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    color:  #202124;
}

.text_input_score:focus {
    background-color: #F4FAF9;
}
.score_question{
  display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width:720px) {
    .add_question_bottom{
        flex-direction: column;
    }
    .text_input{
        width: 100px;
    }

}