.headers{
    height: 200px;
    width: 100%;
    background-color: white;
    padding-top: 50px;
}
.buttons{
    display: flex;
    justify-content: end;
}
.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchTerm:focus{
    color: rgb(140,177,192);
}

.wrap{
    width: 30%;
    display: flex;
    justify-content: end;
}
