.resultsQuiz{
    color: black;
}
.scoreQuiz{
    color: black;
}
.scoreQuiz2{
    color: black;
}
.timeQuiz{
    color: black;
}
.content-Quiz-End{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}