.sideb {
    width: 70px !important;
}

.menuS .icon{
    color: rgba(140,177,192,1);
}
.m-cont{
    border: 2px solid rgba(140,177,192,1) !important ;
}
.menuS .item
{
    margin: 5px 0 35px 0px !important;
}
.cardS  :hover {
    background-color: gray;
}
 .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.mcontainer {
margin-left: 130px !important;
}
.insideCour {
    margin-left: 40px;
}