.register-photo {
   
    padding: 83px 0;
    border-radius: 0% 10% 10% 0% !important;
    
    
  } 
  .register-photo .image-holder {
    height: 600px;
    display: table-cell;
    width: auto;
    background: url('/images/login.png') center center no-repeat; 
    background-size: cover;
  }

  .register-photo .image-holders {
    height: 500px;
    display: table-cell;
    width: auto;
    background: url('/images/login.png') center center    no-repeat; 
    background-size: cover;
  }
  .register-photo .image-holder .hr{
      width: 50px;
      background-color: #FFF;
      border-radius: 30px;
      margin-left: auto;
      margin-right: auto;
      height: 10px;
  }
  .register-photo .image-holders .hr{
    width: 50px;
    background-color: #FFF;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
}
  .svg_change_place{
   margin-left: 30px !important;
   margin-top: -20px !important;
    text-align: right;
    
  }
  .register-photo .image-holder h1,h2,h3,h4,h5,h6,p{
    color: #FFF;
    margin: 10px;
  
  }
  .register-photo .image-holders h1,h2,h3,h4,h5,h6,p{
    color: #FFF;
    margin: 10px;
  
  }
  .register-photo .image-holder .content{
      margin: 80px 30px 30px 30px;
    text-align: center;
  }
  .register-photo .image-holders .contents{
    margin: 30px 30px 30px 30px;
    text-align: center;
  }
  .register-photo .form-container {
    border-radius: 0% 10% 10% 0% !important;
    display: table;
    max-width: 900px;
    max-height: 900px !important;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  .register-photo form {
    border-radius: 0% 3% 3% 0% !important; 
    display: table-cell;
    width: 420px;
    background: #8EB2CD;
    padding: 20px 30px;
    color:#676767 ;
    
    
  }
  .register-photo form input[type="email"]{

    border:10px solid #B6CDDC;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
  
 
  }
  .register-photo form input[type="text"]{
    border:10px solid #B6CDDC !important;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;

  }
.spanLogin {
    font-size: 12px;
    padding: 3px;
    display: none !important;
}
input:invalid[focused="true"] ~ span{
  display: block !important;
}
input[type="email"]:invalid[focused="true"] {
    border:10px solid red !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
}
input[type="text"]:invalid[focused="true"] {
  border:10px solid red !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}
input[type="Number"]:invalid[focused="true"] {
  border:10px solid red !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}
input[type="password"]:invalid[focused="true"]{
  border:10px solid red !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;

}
input[type='checkbox']:invalid[focused="true"] ~ .form-check-label{
  background-color: red;
}
  

  .register-photo form input[type="password"]{

    border:10px solid #B6CDDC;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
  
 
  }


  .register-photo form input[type='email']::placeholder{
      color: #BDBDBD;
      

  }
  .register-photo form input[type='text']::placeholder{
    color: #BDBDBD !important;
    

}
  .register-photo form input[type='password']::placeholder{
    color: #BDBDBD;
}
  .register-photo form input[type='Number']::placeholder{
    color: #BDBDBD;
  }

  .register-photo form h1,label{
      color: #FFF;
  }
  
  .register-photo form .row .btn {
      font-size: 14px;
     color: #FFF;
     border: 1px solid #FFF;
  }

  .margin{
      margin-right: 0px;
  }

  .register-photo form .row .btn:hover {
    background-color: #4c7391;
}
.register-photo form .row .btn:focus {
    background-color: #4c7391;
}
.register-photo form .row .btn:active {
    background-color: #4c7391;
}

  
  @media (max-width:991px) {
    .register-photo form {
      padding: 40px ;
    }
    
  }

  @media (max-width:819px){
    .image-holder{
      display: none  !important;
    }
    .register-photo .image-holder {
     margin-left: 50px;
     margin-right: 50px;
    }
    
  }
  @media (max-width:833px){
    .image-holders{
      display: none  !important;
    }
    .register-photo .image-holders {
      
     margin-left: 50px;
     margin-right: 50px;
    }
    .register-photo form{
      height: 550px !important;
    }
  }
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
  }
  
  .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo form .btn-primary {
    background: #65A2D1;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: #3273a5;
  }
  
  .register-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 13px;

  }
  
  