
.navbar {
  background: linear-gradient(90deg, rgb(2,0,36) 0%, rgba(140,177,192,1) 0%, rgb(140,177,192) 100%);
  height: 70px;
  padding: 10px 60px 30px 60px;
  
  font-size: 1.2rem;
  z-index: 9999;
  position: fixed;
  width: 99%;
  top: 50px;
  
 
}

.navbar-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  
  
}

.navbar-logo {
  color: #fff;
  margin-top: -40px;

  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
 
}
.navbar-logo:hover{
  color: #fff;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  text-decoration: none;
  text-align: left;
  width: 60vw;
  justify-content: end;
  z-index: 9;
  
}
.nav-menu :hover{
  color: #fff;
}

.nav-item {
  height: 80px;
  z-index: 9;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 70%;
  z-index: 9;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
.is-active{
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
  
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,177,192,1) 0%, rgba(196,215,229,1) 100%);
    
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    top: 0px;
    margin-top: -200px;
    margin-right: 100px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

 

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}