.topbar ul li{
	margin: 10px 20px 0px 0px;
	list-style-type: none;
	
}
.topbar{
  	margin: 0 auto;
	margin-left: 50px;
	padding: 0px;
	background-color: #fff;
	overflow: hidden;
	z-index: 9999;
	position: fixed;
	width: 95%;
	height: 35px;
	top: 0px;
	
}
.href{
	color: #8EB2CD;
}

.navHeadItems{
	margin: 25px;
}

@media(max-width:833px){
	.infoSoc{
		display: none;
	}
	
}